{% extends 'portfolio/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/blog.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        {% for new in news %}
            <div>
                <br>
                <h2>{{new.titulo}}</h2><br>
                <p><b>Autor: </b>{{new.autor}}</p>
                <br>
                <p>{{new.descricao}}</p><br>
                <button><a href="{{new.link}}">{{new.link}}</a></button>
                {% if user.is_authenticated %}
                <button class="edit-btn"><a href="{% url 'portfolio:blog_edit' new.id %}">Editar</a></button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <button class="new-btn"><a href="{% url 'portfolio:blog_new' %}" >+ New Blog Post</a></button>
    {% endif %}
{% endblock %}