<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    {% load static %}
    <link rel="icon" href="{% static 'portfolio/imagens/ico.png' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    {% block link %}
    {% endblock %}

    <head>
      <script>
      setInterval(
      function getTime() {
        const x = document.getElementById("logo_time");
        var today = new Date();
        var date = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        x.innerHTML = " Gonçalo Soares "  + date.toString();
      }, 1000);
      </script>
      <script  src="{% static 'portfolio/scripts.js' %}"> </script>
    </head>

    <title>Portfolio</title>
</head>
<body>
    <header>
        <div>
          <p id="logo_time"></p>
          
        </div>
        <nav>
          <a href="{% url 'portfolio:home' %}">Home</a>      
          <a href="{% url 'portfolio:about' %}">About Me</a>      
          <a href="{% url 'portfolio:projects' %}">Projects</a>      
          <a href="{% url 'portfolio:web' %}">Web</a>  
          <a href="{% url 'portfolio:blog' %}">Blog</a>   
          <a href="{% url 'portfolio:contacts' %}">Contacts</a> 

        </nav>

        {% if not request.user.is_authenticated %}
        <div class="login"><a href="{% url 'portfolio:login' %}">Login</a></div>
        {% endif %}

        {% if request.user.is_authenticated %}
        <div class="login"><a href="{% url 'portfolio:logout' %}">Logout</a></div>
        {% endif %}
      </header>
      
      <main>
        {% block main %}
        {% endblock main %}
      </main>
        
      
      <footer>
        <div align="center"> </a>Programação Web | Universidade Lusófona | Autor: Gonçalo Soares | 2ºEngenharia Informática</div>
    </footer>

</body>
</html>