{% extends 'portfolio/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/web.css' %}">
{% endblock %}

{% block main %}
<script>
function get_weather(){

    const options = {
        method: 'GET',
        headers: {
            'X-RapidAPI-Key': '37c02cdfd6mshdf3008d2ab53768p188854jsna994e5734add',
            'X-RapidAPI-Host': 'weatherapi-com.p.rapidapi.com'
        }
    };
    
    fetch('https://weatherapi-com.p.rapidapi.com/current.json?q=Lisbon', options)
        .then(response => response.json())
        .then
        (data =>
            {
            const weather = data;
            document.getElementById('weather').innerHTML = String(weather.location.name)+ ": " + String(weather.current.condition.text);
            document.getElementById('temperature').innerHTML = "Temperature: " + String(weather.current.temp_c) + "ºC";
            document.getElementById('wind').innerHTML = "Wind: " + String(weather.current.wind_kph) + " Kmh";
            document.getElementById('humidity').innerHTML = "Humidity Level: " + String(weather.current.humidity);
            }
        );
}


function get_joke(){

const options = {
	method: 'GET',
	headers: {
		'X-RapidAPI-Key': '37c02cdfd6mshdf3008d2ab53768p188854jsna994e5734add',
		'X-RapidAPI-Host': 'dad-jokes.p.rapidapi.com'
	}
};

fetch('https://dad-jokes.p.rapidapi.com/random/joke', options)
	.then(response => response.json())
	.then
	(data =>
	    {
	     const joke = data;
       console.log(data.body[0].setup)
	     document.getElementById('base').innerHTML = String(data.body[0].setup);
        document.getElementById('punchline').innerHTML = String(data.body[0].punchline);
	    }

	);
    }
</script>

    <div class="webs">
        <h2 class="titulo_seccao">Tecnologias</h2>
        <div class="web_tec">
            {% for tec in tecs %}
                <div>
                    <h3>{{tec.acronimo}} : {{tec.nome}}</h3>
                    <a href="{{tec.link}}"><img class = "web_logos" src="{{tec.logotipo.url}}" width="100"></a>
                    <br><br>
                    <p>{{tec.descricao}}</p>
                    <br>
                    <p><b>Criador: </b>{{tec.criador}}</p>
                    <p><b>Ano de criação: </b>{{tec.ano}}</p>
                </div>
            {% endfor %}
        </div>

        <h2 class="titulo_seccao">Notícias</h2>
        <div class="web_noticia">
            {% for noticia in noticias %}
                <div>
                    <h3>{{noticia.titulo}}</h3>
                    <br>
                    <button><a href="{{noticia.link}}"><img src="{{noticia.imagem.url}}" width="300"></a></button>
                    <br><br>
                    <p>{{noticia.texto}}</p>
                </div>
            {% endfor %}
        </div>

        <h2 class="titulo_seccao">Laboratórios</h2>
        <div class="web_lab">
            {% for lab in labs %}
                <div>
                    <h3>{{lab.titulo}}</h3>
                    <br>
                    <p>{{lab.descricao}}</p>
                    <br>
                    <button><a href="{{lab.link}}">{{lab.link}}</a></button>
                </div>
            {% endfor %}
        </div>

        <h2 class="titulo_seccao">Sobre este website</h2>
        <div class="web_sobreeste">
            {% load static %} 
            <center><img src="{% static 'portfolio/imagens/drawio.png' %}" width="1000"></center>
        </div>

        <h2 class="titulo_seccao">Api's</h2>
        <div class="api">
        <div class="weather_api">
            <h1>Weather Api Set to Lisbon current Weather:</h1>
            <div class="weather_api_fields">
                <p id="weather"></p>
                <p id="temperature"></p>
                <p id="wind"></p>
                <p id="humidity"></p>
                <button onclick="get_weather()">Try It</button>
            </div>
        </div>

        <div class="joke_api">
            <h1>Random Joke:</h1>
            <div class="api_fields">
                <p id="base"></p>
                <p id="punchline"></p>
                <button onclick="get_joke()">Try It</button>
            </div>
        </div>
        </div>

    </div>

    
        <h2 class="titulo_seccao">Quizz</h2>
        <form method="POST" action="quizz">
            {% csrf_token %}
            <fieldset title="info">
                <Legend>Identificação</Legend>
                    <label><b>Nome:</b><input type="text" name="nome" id="nome" multiple required placeholder="Escreva aqui" size="25"></label><br>
                    <label><b>Apelido:</b><input type="text" name="apelido" id="apelido" required placeholder="Escreva aqui"></label><br>
            </fieldset><br>
            <fieldset title="perguntas">
                <label>Qual é a framework usada no pyton neste portfolio?</label>
                <input type="text" name = "Django" id = "Django" size="20"><br><br>

                <label>Como se chama a pagina que esta neste momento portfolio?</label>
                <input type="text" name = "web" id = "web" size="20"><br><br>

                <label>Qual o numero é o meu numero de telefone profissional?</label>
                <input type="text" name = "917229966" id = "917229966" size="20"><br><br>

                <label>Que jogo foi criado em Fundamentos de Programaçao?</label>
                <input type="text" name = "xadrez" id = "xadrez" size="20"><br><br>
                <button class="new-btn"><input type="image" alt="Submit" width="48" height="48"></button>
            </fieldset>
        </form>
        {% load static %} 
        <img src="{% static 'portfolio/imagens/grafico.png' %}">
{% endblock %}