* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: rgba(99, 129, 54, 0.392);
}

.text {
  font-family: Avenir,sans-serif;
  font-size: 2em;
  font-weight: 300;
  padding: 0.5em;
}


h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: aktiv-grotesk-extended,sans-serif;
  color: #000;
  font-size: 3.5em;
  line-height: 1.2em;
  font-weight: 400;
  padding-bottom: 50px;
  padding-top: 20px;
  padding: 0.3em;
}

.images {
  float: right;
}

p{
  padding-bottom: 30px;
  font-family: Avenir,sans-serif;
  font-size: 1.5em;
  padding: 0.7em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin{
    background: #2d54a8;
    color: white;
  }

  .fa-github-square{
    background: black;
    color: white;
  }