*{
    margin: 0%;
}

.imagem_parallax_1{
  background-image: url("../imagens/entrada.e2d5a4d111d2.jpg") ;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 90vh;
}

.imagem_parallax_2{
  background-image: url("../imagens/capa.cd10651b12b1.jpeg") ;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 90vh;
}

h3{
  font-size: 3rem;
}
  