* {
    padding: 0; 
    margin: 0;
    box-sizing:border-box;
    font-family: sans-serif;
  }
  
header {
  height: 10vh; 
  background: rgb(0, 128, 81);
  color: white;
  top: 0;  
    
    /* alinhando logo e menu */
    display:flex;
    justify-content: space-between;  
    align-items: center;
  }
  
header div {
  font-size: 2em;  
  padding: 1em;
}
  
  header nav {
    display:flex;
    justify-content: flex-end;  
  }
  
  
  nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
  }
  
  
  footer{
    position: relative;
    background: rgb(0, 128, 81);
    color: white;
    clear: both;
  }
  
  footer div{
    font-size: 20px;
    padding: 2%;
  }



